<div class="container wrap" style="margin-top: 25px;">

  <div class="row">
    <div class="col-12">
      <button (click)="printDiv()" class="print_btn"><i class="fas fa-print" style="margin-right: 5px"></i> Imprimir Formulario STARD</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm" style="text-align: left; font-size: 16px; font-weight: bold">
      <div>Visualización de Formato de Mantenimiento STARD</div>
    </div>
  </div>

  <div id="a-imprimir"> <!--/// Imprimir-->

    <!-- 1 HOJA -->
    <div class="imprimir">

      <div class="row noMostrar">
        <div class="col-sm" style="text-align: center">
          <img src="../../../../src/assets/images/logo_doc.JPG" height="auto" width="250px">
        </div>
      </div>

      <div class="row">
        <div class="col-sm" style="text-align: center">
          <div class="title-header">
            FORMATO DE MANTENIMIENTO STARD
          </div>
        </div>
      </div>

<!--//////// INF GENERAL-->

      <div class="row">
        <div class="col-4 title_form bordertable">
          FECHA DE SOLICITUD
        </div>
        <div class="col-8 title_form_label bordertable">
          10/05/2018
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          PREDIO
        </div>
        <div class="col-4 title_form_label bordertable">
          PREDIO
        </div>
        <div class="col-2 title_form bordertable">
          MUNICIPIO
        </div>
        <div class="col-4 title_form_label bordertable">
          MUNICIPIO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          VEREDA
        </div>
        <div class="col-10 title_form_label bordertable">
          VEREDA
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          TELÉFONO
        </div>
        <div class="col-4 title_form_label bordertable">
          111-1111
        </div>
        <div class="col-2 title_form bordertable">
          CELULAR
        </div>
        <div class="col-4 title_form_label bordertable">
          222-222
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          PERSONA QUE SOLICITA VISITA
        </div>
        <div class="col-8 title_form_label bordertable">
          PERSONA
        </div>
      </div>

      <div class="dropdown-divider"></div>

      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          COORDENADAS
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          LONGITUD
        </div>
        <div class="col-6 title_form bordertable">
          LATITUD
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form_notback">
          <div class="row table-inner">
            <div class="col-4 bordertable">
                GRADOS
            </div>
            <div class="col-4 bordertable">
                MINUTOS
            </div>
            <div class="col-4 bordertable">
                SEGUNDOS
            </div>
          </div>
        </div>
        <div class="col-6 title_form_notback">
          <div class="row table-inner">
            <div class="col-4 bordertable">
              GRADOS
            </div>
            <div class="col-4 bordertable">
              MINUTOS
            </div>
            <div class="col-4 bordertable">
              SEGUNDOS
            </div>
          </div>
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form_notback">
          <div class="row table-inner">
            <div class="col-4 bordertable">
              GRADOS
            </div>
            <div class="col-4 bordertable">
              MINUTOS
            </div>
            <div class="col-4 bordertable">
              SEGUNDOS
            </div>
          </div>
        </div>
        <div class="col-6 title_form_notback">
          <div class="row table-inner">
            <div class="col-4 bordertable">
              GRADOS
            </div>
            <div class="col-4 bordertable">
              MINUTOS
            </div>
            <div class="col-4 bordertable">
              SEGUNDOS
            </div>
          </div>
        </div>
      </div>
      <!--Divisor-->

      <div class="dropdown-divider"></div>

      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          TIPO DE ACCESO
        </div>
        <div class="col-6 title_form_label bordertable">
          TIPO DE ACCESO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          TIEMPO APROXIMADO DESDE LA CABECERA MUNICIPAL
        </div>
        <div class="col-6 title_form_label bordertable">
          TIEMPO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          TIEMPO SIN HACER MANTENIMIENTO
        </div>
        <div class="col-6 title_form_label bordertable">
          TIEMPO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          TIPO STARD
        </div>
        <div class="col-6 title_form_label bordertable">
          TIPO STARD
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-3 title_form bordertable">
          DISTANCIA A STARD
        </div>
        <div class="col-3 title_form_label bordertable">
          DISTANCIA
        </div>
        <div class="col-3 title_form bordertable">
          DISTANCIA TRAMPA DE GRASAS
        </div>
        <div class="col-3 title_form_label bordertable">
          DISTANCIA
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-3 title_form bordertable">
          CAPACIDAD DE TANQUE
        </div>
        <div class="col-3 title_form_label bordertable">
          CAPACIDAD
        </div>
        <div class="col-3 title_form bordertable">
          TIPO DE DESCARGA
        </div>
        <div class="col-3 title_form_label bordertable">
          TIPO DE DESCARGA
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          TIPO MENTENIMIENTO
        </div>
        <div class="col-8 title_form_label bordertable">
          TIPO MENTENIMIENTO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          ESQUEMA DE LOCALIZACIÓN
        </div>
      </div>
      <div class="row">
        <div class="col-12 title_form_label bordertable" style="height: 300px">
          ESQUEMA
        </div>
      </div>
      <!--Divisor-->

    </div>
    <!-- Cierre 1 HOJA -->

    <!-- 2 HOJA -->
    <div class="imprimir">

      <!--//////// INF GENERAL-->
      <div class="row page-break">
        <!--Divisor-->
        <div class="col-12 title_form bordertable">
          REGISTRO FOTOGRÁFICO
        </div>
      </div>
      <div class="row">
        <div class="col-12 title_form_label bordertable" style="height: 300px">
          REGISTRO
        </div>
      </div>

      <div class="row">
        <!--Divisor-->
        <div class="col-12 title_form bordertable">
          OBSERVACIONES
        </div>
      </div>

      <div class="row">
        <!--Divisor-->
        <div class="col-12 title_form_label bordertable" style="height: 150px">
          OBSERVACIONES
        </div>
      </div>

      <div class="row">
      <!--Divisor-->
      <div class="col-8 title_form bordertable">
        DISPONIBILIDAD Y ACEPTACIÓN PARA LA DISPOSICIÓN DE LODOS EN EL LOTE
      </div>
        <div class="col-4 title_form_label bordertable">
        DISPONIBILIDAD
      </div>

    </div>

    </div>
    <!-- 2 HOJA -->




    <!-- /////// Imprimir-->
  </div>


</div>
