<div class="container wrap" style="margin-top: 25px;">

  <div class="row">
    <div class="col-12">
      <button (click)="printDiv()" class="print_btn"><i class="fas fa-print" style="margin-right: 5px"></i> Imprimir Formato</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm" style="text-align: left; font-size: 16px; font-weight: bold">
      <div>Visualización de Formato</div>
    </div>
  </div>

  <div id="a-imprimir"> <!--/// Imprimir-->

    <!-- 1 HOJA -->
    <div class="imprimir">

      <div class="row noMostrar">
        <div class="col-sm" style="text-align: center">
          <img src="../../../../src/assets/images/logo_doc.JPG" height="auto" width="250px">
        </div>
      </div>

      <div class="row">
        <div class="col-8" style="text-align: center">
          <div class="title-header">
            FORMATO PARA ASIGNACIÓN Y UBICACIÓN DE SISTEMAS INDIVIDUALES DE TRATAMIENTO DE AGUAS RESIDUALES DOMÉSTICAS
          </div>
        </div>
        <div class="col-4" style="text-align: center">
          <div class="title-header">
            FICHA NO:
          </div>
        </div>
      </div>

      <!--//////// INF GENERAL-->

      <div class="row">
        <div class="col-4 title_form bordertable">
          LEVANTÓ
        </div>
        <div class="col-8 title_form_label bordertable">
          NOMBRE
        </div>
      </div>
      <!--Divisor-->

      <div class="row">
        <div class="col-12 title_form bordertable">
          DATOS GENERALES
        </div>
      </div>

      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          PREDIO
        </div>
        <div class="col-4 title_form_label bordertable">
          PREDIO
        </div>
        <div class="col-2 title_form bordertable">
          MUNICIPIO
        </div>
        <div class="col-4 title_form_label bordertable">
          MUNICIPIO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          VEREDA / CORREGIMIENTO
        </div>
        <div class="col-4 title_form_label bordertable">
          VEREDA / CORREGIMIENTO
        </div>
        <div class="col-2 title_form bordertable">
          NO. CATASTRAL DEL PREDIO
        </div>
        <div class="col-4 title_form_label bordertable">
          NO. CATASTRAL DEL PREDIO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          JEFE DE FAMILIA
        </div>
        <div class="col-4 title_form_label bordertable">
          JEFE DE FAMILIA
        </div>
        <div class="col-2 title_form bordertable">
          CELULAR
        </div>
        <div class="col-4 title_form_label bordertable">
          CELULAR
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          PERSONA QUE ATENDIÓ LA VISITA
        </div>
        <div class="col-4 title_form_label bordertable">
          PERSONA QUE ATENDIÓ LA VISITA
        </div>
        <div class="col-2 title_form bordertable">
          TELÉFONO FIJO
        </div>
        <div class="col-2 title_form_label bordertable">
          TELÉFONO FIJO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          NO. DE VIVIENDAS QUE SE PROYECTA CONECTAR AL SISTEMA
        </div>
        <div class="col-2 title_form_label bordertable">
          NO.
        </div>
        <div class="col-4 title_form bordertable">
          POBLACIÓN TOTAL A SER ATENDIDA
        </div>
        <div class="col-2 title_form_label bordertable">
          POBLACION
        </div>
      </div>

      <div class="dropdown-divider"></div>

      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          ESQUEMA DE LOCALIZACIÓN
        </div>
      </div>
      <div class="row">
        <div class="col-12 title_form_label bordertable" STYLE="height: 250PX">
          ESQUEMA DE LOCALIZACIÓN
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          COORDENADAS DE LA CASA
        </div>
        <div class="col-4 title_form bordertable">
          COORDENADAS DEL SISTEMA
        </div>
        <div class="col-4 title_form bordertable">
          COORDENADAS DEL VERTIMIENTO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form_notback bordertable">
          <div class="row table-inner">
            <div class="col-4 title_form bordertable">
              NORTE
            </div>
            <div class="col-4 title_form bordertable">
              ESTE
            </div>
            <div class="col-4 title_form bordertable">
              ALTURA
            </div>
          </div>
          <div class="row table-inner">
            <div class="col-4 title_form bordertable">
              NORTE
            </div>
            <div class="col-4 title_form bordertable">
              ESTE
            </div>
            <div class="col-4 title_form bordertable">
              ALTURA
            </div>
          </div>
        </div>
        <div class="col-4 title_form_notback bordertable">
          <div class="row table-inner">
            <div class="col-4 title_form bordertable">
              NORTE
            </div>
            <div class="col-4 title_form bordertable">
              ESTE
            </div>
            <div class="col-4 title_form bordertable">
              ALTURA
            </div>
          </div>
          <div class="row table-inner">
            <div class="col-4 title_form bordertable">
              NORTE
            </div>
            <div class="col-4 title_form bordertable">
              ESTE
            </div>
            <div class="col-4 title_form bordertable">
              ALTURA
            </div>
          </div>
        </div>
        <div class="col-4 title_form_notback bordertable">
          <div class="row table-inner">
            <div class="col-4 title_form bordertable">
              NORTE
            </div>
            <div class="col-4 title_form bordertable">
              ESTE
            </div>
            <div class="col-4 title_form bordertable">
              ALTURA
            </div>
          </div>
          <div class="row table-inner">
            <div class="col-4 title_form bordertable">
              NORTE
            </div>
            <div class="col-4 title_form bordertable">
              ESTE
            </div>
            <div class="col-4 title_form bordertable">
              ALTURA
            </div>
          </div>
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          DIÁMETRO DE TUBERÍA DE DESCARGA
        </div>
        <div class="col-6 title_form_label bordertable">
          DIÁMETRO
        </div>
      </div>

      <!--Divisor-->

      <div class="dropdown-divider"></div>

      <!--Divisor-->

      <div class="row">
        <div class="col-12 title_form bordertable">
          INFORMACIÓN BÁSCICA
        </div>
      </div>

      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          DISTANCIA ENTRE LA VIVIENDA Y LA POSIBLE UBICACIÓN DEL SISTEMA DE TRATAMIENTO
        </div>
        <div class="col-2 title_form_label bordertable">
          DISTANCIA
        </div>
        <div class="col-2 title_form bordertable">
          TIPO DE SISTEMA
        </div>
        <div class="col-2 title_form_label bordertable">
          TIPO
        </div>
      </div>

      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form bordertable" style="text-align: center">
          DISPOSICIÓN DEL EFLUENTE
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-6 title_form bordertable">
          ¿EXISTE UNA FUENTE HÍDRICA CERCANA A LA VIVIENDA (RÍO, QUEBRADA, CAÑO)?
        </div>
        <div class="col-1 title_form_label bordertable">
          SI / NO
        </div>
        <div class="col-2 title_form bordertable">
          NOMBRE DE LA FUENTE
        </div>
        <div class="col-3 title_form_label bordertable">
          NOMBRE
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-11 title_form bordertable">
          EN CASO NEGATIVO, ESPECIFIQUE
        </div>
        <div class="col-1 title_form_label bordertable">
          SI / NO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-11 title_form bordertable">
          EN CASO DE NO EXISTIR FUENTE HÍDRICA CERCANA, ¿EXISTE DISPONIBILIDAD DE ÁREA PARA LA CONSTRUCCIÓN DE POZO DE ABSORCIÓN 9 m2 (3 x 3) O CAMPO - ZANJA DE INFILTRACIÓN ?
        </div>
        <div class="col-1 title_form_label bordertable">
          SI / NO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-8 title_form bordertable">
          SITIO DE DESCARGA ACTUAL DE LAS AGUAS RESIDUALES
        </div>
        <div class="col-4 title_form_label bordertable">
          SITIO
        </div>
      </div>

    </div>

    <!--1era HOJA-->

    <!--2da HOJA-->

      <div class="imprimir">
      <!--Divisor-->
      <div class="row page-break">
        <div class="col-8 title_form bordertable">
          ¿LA DESCARGA DEL BAÑO SE REALIZA EN FORMA INDEPENDIENTE DE LOS DEMÁS SERVICIOS DE LA VIVIENDA?
        </div>
        <div class="col-4 title_form_label bordertable">
          DESCARGA
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form bordertable" STYLE="text-align: center">
          ¿PARA LA CONEXIÓN DE LA DESCARGA DEL SISTEMA DE TRATAMIENTO ES NECESARIO DEMOLER PISOS AL EXTERIOR DE LA
          VIVIENDA?
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form_label bordertable">
          SI / NO
        </div>
        <div class="col-2 title_form bordertable">
          LONGITUD
        </div>
        <div class="col-3 title_form_label bordertable">
          LONGITUD
        </div>
        <div class="col-2 title_form bordertable">
          MATERIAL
        </div>
        <div class="col-3 title_form_label bordertable">
          MATERIAL
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-8 title_form bordertable">
          ¿LAS AGUAS DE LA COCINA ESTAN SEPARADAS DE LA UNIDAD SANITARIA?
        </div>
        <div class="col-4 title_form_label bordertable">
          SI / NO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-8 title_form bordertable">
          ¿CUENTA CON TRAMPA DE GRASAS PARA LAS AGUAS DE LA COCINA?
        </div>
        <div class="col-4 title_form_label bordertable">
          SI / NO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form bordertable" STYLE="text-align: center">
          CONDICIONES DEL TERRENO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-5 title_form bordertable">
          ALTA PENDIENTE
        </div>
        <div class="col-1 title_form_label bordertable">
          SI / NO
        </div>
        <div class="col-5 title_form bordertable">
          ¿SE HAN PRESENTADO PROCESOS EROSIVOS?
        </div>
        <div class="col-1 title_form_label bordertable">
          SI / NO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-8 title_form bordertable">
          PREFERENCIA CERRAMIENTO STARD
        </div>
        <div class="col-4 title_form_label bordertable">
          ALAMBRE
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          OBSERVACIONES
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="height: 100px;">
        <div class="col-12 title_form_label bordertable">
          OBSERVACIONES
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="margin-bottom: 10px">
        <div class="col-6 title_form_label bordertable" style="text-align: center">
          <br>
          <br>
          <br>
          FIRMA JEFE DE FAMILIA O RESPONSABLE
        </div>
        <div class="col-6 title_form_label bordertable" style="text-align: center">
          <br>
          <br>
          <br>
          FIRMA DE QUIEN LEVANTÓ
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="margin-bottom: 10px">
        <div class="col-12 title_form_label">
          NOTA: Para acceder a recursos de cofinanciación por parte de CUENCAVERDE este formato debe ser presentado en forma conjunta con la documentación que se le solicite, adicionalmente, deben cumplirse las siguientes condiciones: que las viviendas cuente con conexión al acueducto o aguas propias, con unidad sanitaria y con un espacio físico suficiente para la instalación del STARD; teniendo en cuenta que la zona no está afectada por riesgo de inundación e inestabilidad del terreno. También, comprometerse con la realización de los mantenimientos periódicos.
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="margin-bottom: 10px">
        <div class="col-12 title_form_label" style="font-weight: bold">
          Fuente: Adaptado de  modelo Corantioquia (2011)
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="margin-bottom: 10px">
        <div class="col-12 title_form_label">
          • Que las viviendas cuenten con conexión al acueducto<br>
          • Que cuente con unidad sanitaria<br>
          • Que cuente con espacio físico suficiente para la colocación del sistema séptico; teniendo en cuenta que la zona no está afectada por riesgo de inundación e inestabilidad del terreno (procesos erosivos tipo deslizamientos o movimientos en masa)
        </div>
      </div>





    </div>
    <!-- 2 HOJA -->




    <!-- /////// Imprimir-->
  </div>


</div>
