<div id="contenido" class="contents-app" style="padding: 0px 50px 0px 50px">
  <div class="row">
    <div class="col-sm">
      <div style="text-align: center; font-size: 18px; font-weight: bold; padding: 50px">Editar Contratista</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div style="text-align: left; font-size: 18px; font-weight: bold; padding: 50px">Datos de Acceso</div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
      <label for="user">Usuario de Acceso</label>
      <input type="text" class="form-control simpleinput" id="user" aria-describedby="user"
             placeholder="Usuario" [(ngModel)]="contractor.user.name"
             name="user" disabled>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <label for="email">Email del contratista</label>
      <input type="email" class="form-control simpleinput" id="email" aria-describedby="email"
             placeholder="Correo Electrónico" [(ngModel)]="contractor.user.email"
             name="email" disabled>
    </div>
  </div>



  <div class="dropdown-divider"></div>

  <div class="row">
    <div class="col-sm">
      <div style="text-align: left; font-size: 18px; font-weight: bold; padding: 50px">Datos del Contratista</div>
    </div>
  </div>

  <!--CATEGORÍAS DEL CONTRATISTA-->
  <div class="row" style="margin-bottom: 15px">

    <div class="col-sm" style="border: solid 2px #1177CA; border-radius: 10px; padding: 20px 20px; background-color: white">

      <label for="IDCAT">Asigna categorías al Contratista</label>
      <ng-select
        placeholder="Escoge la Categoría"
        [options]="categories"
        [multiple]="true"
        id="IDCAT"
        [(ngModel)]="contractor.categories">
      </ng-select>

    </div>

  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
      <label for="poolName">Nombres del contratista</label>
      <input type="text" class="form-control simpleinput" id="poolName" aria-describedby="poolName"
             placeholder="Nombres del contratista" [(ngModel)]="contractor.user.names"
             name="poolName">
    </div>
    <div class="col-sm">
      <label for="poolLast">Apellidos del contratista</label>
      <input type="text" class="form-control simpleinput" id="poolLast" aria-describedby="poolLast"
             placeholder="Apellidos del contratista" [(ngModel)]="contractor.user.last_names"
             name="poolLast">
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm plain-arrowd">
      <label for="modcontratacion">Modalidad de Contratación</label>
      <select [(ngModel)]="contractor.contract_modality" class="custom-select form-control gradblue" name="modcontratacion"
              id="modcontratacion">
        <option [value]="0" >Seleccione</option>
        <option *ngFor="let modalities of contractormodality" [ngValue]="modalities.id + ''">{{modalities.name}}</option>
      </select>
    </div>
    <div class="col-sm">
      <label for="poolName">Número de Modalidad</label>
      <input type="text" class="form-control simpleinput" id="id_num_mod" aria-describedby="id_num_mod"
             placeholder="Número de Modalidad" [(ngModel)]="contractor.number_modality"
             name="id_num_mod">
    </div>
    <div class="col-sm plain-arrowd">
      <label for="poolName">Tipo de Persona</label>
      <select [(ngModel)]="contractor.type_person" class="custom-select form-control gradblue" name="person_type"
              id="person_type">
        <option [value]="0">Seleccione</option>
        <option *ngFor="let tipoPersona of typePerson" [ngValue]="tipoPersona.id">{{tipoPersona.type}}</option>
      </select>

    </div>
    <div class="col-sm">
      <label for="poolName">Número de Identificación</label>
      <input type="text" class="form-control simpleinput" id="id_num" aria-describedby="id_num"
             placeholder="Número de Identificación" [(ngModel)]="contractor.number_identity"
             name="id_num">
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
      <label for="objeto">Objeto</label>
      <input type="text" class="form-control simpleinput" id="objeto" aria-describedby="objeto"
             placeholder="Objeto" [(ngModel)]="contractor.object"
             name="Objeto">
    </div>
    <div class="col-sm plain-arrowd">
      <label for="contract_type">Tipo de Contrato</label>
      <select [(ngModel)]="contractor.type_contract" class="custom-select form-control gradblue" name="contract_type"
              id="contract_type">
        <option [value]="0">Seleccione</option>
        <option *ngFor="let tipoContrato of contractType" [ngValue]="tipoContrato.id  + ''">{{tipoContrato.name}}</option>
      </select>

    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
      <label for="total_value">Valor Total (IVA Incluido)</label>
      <input type="text" class="form-control simpleinput" id="total_value" aria-describedby="total_value"
             placeholder="Valor Total (IVA Incluido)" [(ngModel)]="contractor.total_value"
             name="total_value">
    </div>
    <div class="col-sm">
      <label for="way_to_pay">Forma de Pago</label>
      <input type="text" class="form-control simpleinput" id="way_to_pay" aria-describedby="way_to_pay"
             placeholder="Forma de Pago" [(ngModel)]="contractor.way_to_pay"
             name="way_to_pay">
    </div>
    <div class="col-sm">
      <label for="month_value">Valor Mensual</label>
      <input type="text" class="form-control simpleinput" id="month_value" aria-describedby="month_value"
             placeholder="Valor Mensual" [(ngModel)]="contractor.monthly_value"
             name="month_value">
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
      <label for="ejecution_place">Lugar de Ejecución</label>
      <input type="text" class="form-control simpleinput" id="ejecution_place" aria-describedby="ejecution_place"
             placeholder="Lugar de Ejecución" [(ngModel)]="contractor.place_of_execution"
             name="ejecution_place">
    </div>
    <div class="col-sm">
      <label for="initial_date">Plazo Inicial</label>
      <input [(ngModel)]="contractor.initial_term" id="initial_date" aria-describedby="initial_date" class="form-control simpleinput"
             type="date" name="initial_date">
    </div>
    <div class="col-sm">
      <label for="final_date">Plazo Final</label>
      <input [(ngModel)]="contractor.final_term" id="final_date" aria-describedby="final_date" class="form-control simpleinput"
             type="date" name="final_date">
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
      <label for="start_date">Fecha de Inicio</label>
      <input [(ngModel)]="contractor.start_date" id="start_date" aria-describedby="final_date" class="form-control simpleinput"
             type="date" name="start_date">
    </div>
    <div class="col-sm">
      <label for="end_date">Fecha de Terminación</label>
      <input [(ngModel)]="contractor.termination_date" id="end_date" aria-describedby="final_date" class="form-control simpleinput"
             type="date" name="end_date">
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">

    <div class="col-sm plain-arrowd">
      <label for="grant">Garantías Tomadas</label>
      <select [(ngModel)]="contractor.guarantee" class="custom-select form-control gradblue" name="grant"
              id="grant">
        <option [value]="0">Seleccione</option>
        <option *ngFor="let garantia of guarantee" [ngValue]="garantia.id">{{garantia.name}}</option>
      </select>
    </div>
    <div class="col-sm" style=" display: flex; align-items: center; align-items: center">
      <label class="custom-control custom-checkbox" id="noTiene" style="margin-top: 35px">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="contractor.renew_guarantee" name="has_deadline">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Requiere Renovar Garantía</span>
      </label>
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
      <!-- UPLOAD FILE -->
      <cuenca-drag-and-drop-contractor style="width: 100%" (notify)='refreshFiles($event)'></cuenca-drag-and-drop-contractor>
    </div>
  </div>

  <div class="dropdown-divider"></div>

  <div class="row" style="">
    <div class="col-sm">
      <div class="row">
        <!-- Label -->
        <div class="col-sm" *ngIf="!documents">
          <div class="header-module">
            <h3 class="title-module">Datos asociados</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Label -->
        <div class="col-sm" *ngIf="!documents">
          <div style="padding: 15px; text-align: center; background-color: #f1dfdd; border-radius: 25px">
            No se han cargado archivos
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-sm">
      <button type="button" class="btn btn-success" style="float: right; cursor: pointer; margin-top: 10px;"
              (click)="updateContractor()">Guardar
      </button>
    </div>
  </div>

</div>
