  <div class="row" *ngIf="mapError" style="margin-bottom: 10px">
    <div class="col-sm">
      <div style="text-align: center; border: dashed 2px #ffb6c0; padding: 20px; border-radius: 20px"> Ha ocurrido un error al inicializar el mapa o no permitida la geolocalización.
        Por favor verifique, realice los cambios pertinentes e intente nuevamente.</div>
    </div>
  </div>


  <div class="row" *ngIf="!mapError" style="margin-bottom: 10px">
        <div class="col-sm">
          <div *ngIf="!loadMap" style="background-color: rgba(243,249,255,1); position: absolute; z-index: 99999; width: 100%; height: 100%; text-align: center">
            <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
              <img src="../../../assets/images/loaderC.gif" width="75px" height="auto">
            </div>

          </div>
          <div id="map" class="mapcontainer"></div>
        </div>
  </div>

  <div class="row" *ngIf="!mapError" style="padding: 5px">

    <div class="col-sm">
      <a class="mainbtn gradblue downmap" (click)="convertToShapeFile()">Descarga mapa</a>
    </div>

  </div>
