<div class="container wrap" style="margin-top: 25px;">

  <div class="row">
    <div class="col-12">
      <button (click)="printDiv()" class="print_btn"><i class="fas fa-print" style="margin-right: 5px"></i> Imprimir Formtao</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm" style="text-align: left; font-size: 16px; font-weight: bold">
      <div>Visualización de Formato</div>
    </div>
  </div>

  <div id="a-imprimir"> <!--/// Imprimir-->

    <!-- 1 HOJA -->
    <div class="imprimir">

      <div class="row noMostrar">
        <div class="col-sm" style="text-align: center">
          <img src="../../../../src/assets/images/logo_doc.JPG" height="auto" width="250px">
        </div>
      </div>

      <div class="row">
        <div class="col-12" style="text-align: center">
          <div class="title-header">
            FORMATO DE SEGUIMIENTO PREDIAL
          </div>
        </div>
      </div>


      <!--//////// INF GENERAL-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          INFORMACIÓN GENERAL
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          PROPIETARIO
        </div>
        <div class="col-8 title_form_label bordertable">
          NOMBRE
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          PREDIO
        </div>
        <div class="col-4 title_form_label bordertable">
          PREDIO
        </div>
        <div class="col-2 title_form bordertable">
          MUNICIPIO
        </div>
        <div class="col-4 title_form_label bordertable">
          MUNICIPIO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          VEREDA / CORREGIMIENTO
        </div>
        <div class="col-4 title_form_label bordertable">
          VEREDA / CORREGIMIENTO
        </div>
        <div class="col-2 title_form bordertable">
          FECHA
        </div>
        <div class="col-4 title_form_label bordertable">
          dd/MM/yyyy
        </div>
      </div>


      <div class="dropdown-divider"></div>


      <!--//////// INF GENERAL-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          PROGRAMA / PROYECTO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form_label bordertable">
          NOMBRE
        </div>
      </div>

      <!--//////// INF GENERAL-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          OBJETO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form_label bordertable">
          OBJETO
        </div>
      </div>

      <!--//////// INF GENERAL-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          ACTIVIDADES
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="height: 100px">
        <div class="col-12 title_form_label bordertable">
          ACTIVIDADES
        </div>
      </div>

      <!--//////// INF GENERAL-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          OBSERVACIONES
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-12 title_form_label bordertable">
          OBSERVACIONES
        </div>
      </div>

      <!--//////// INF GENERAL-->
      <div class="row" style="text-align: center">
        <div class="col-6 title_form bordertable">
          FIRMA Y NOMBRE DE LOS TÉCNICOS
        </div>
        <div class="col-6 title_form bordertable">
          PERSONAS CONTACTADAS
        </div>
      </div>
      <div class="row" style="text-align: center; height: 100px">
        <div class="col-6 title_form_label bordertable">
        </div>
        <div class="col-6 title_form_label bordertable">
        </div>
      </div>


      <!--//////// INF GENERAL-->
      <div class="row" style="text-align: center">
        <div class="col-3 title_form bordertable">
          DESTINATARIO DE LA INFORMACIÓN
        </div>
        <div class="col-5 title_form_label bordertable">
          DESTINATARIO
        </div>
        <div class="col-2 title_form bordertable">
          FECHA
        </div>
        <div class="col-2 title_form_label bordertable">
          DDD/MM/YYYY
        </div>
      </div>

      <!--//////// INF GENERAL-->
      <div class="row" style="text-align: center">
        <div class="col-3 title_form bordertable">
          CARGO
        </div>
        <div class="col-9 title_form_label bordertable">
          CARGO
        </div>
      </div>

      <!--//////// INF GENERAL-->
      <div class="row" style="text-align: center; height: 50px; display: flex">
        <div class="col-3 title_form bordertable" style="align-items: center; vertical-align: middle; justify-content: center">
          FIRMA
        </div>
        <div class="col-9 title_form_label bordertable">

        </div>
      </div>






    </div>
    <!-- /////// Imprimir-->
  </div>


</div>
