<div id="contenido" class="contents-app" style="padding: 50px 50px 50px 50px">

  <div class="row" style="margin-bottom: 25px">
    <div class="col-12 title" style="text-align: center; font-weight: bold">
      REGISTRAR USUARIO
    </div>
  </div>

  <div class="row">

    <div class="col-md col-sm-12">
      <label for="labelselect0" class="subtitle-item">Nombres</label>
      <input type="text" id="labelselect0" class="form-control" [(ngModel)]="userRegister.names" placeholder="Nombres del Usuario"/>
    </div>

    <div class="col-md col-sm-12">
      <label for="labelselect1" class="subtitle-item">Apellidos</label>
      <input type="text" id="labelselect1" class="form-control" [(ngModel)]="userRegister.last_names" placeholder="Apellidos del Usuario"/>
    </div>

  </div>

  <div class="row">

    <div class="col-md col-sm-12">
      <label for="labelselect3" class="subtitle-item">Correo Electrónico</label>
      <input type="text" id="labelselect3" class="form-control" [(ngModel)]="userRegister.email" placeholder="Correo Electrónico del Usuario"/>
    </div>

    <div class="col-md col-sm-12">
      <div class="plain-arrow">
        <label for="labelselect2" class="subtitle-item">Selecciona el Rol</label>
        <select [(ngModel)]="userRegister.rol_id" class="custom-select form-control gradblue" name="selected_task_type"
                id="labelselect2">
          <option [value]="0">Seleccione el Rol</option>
          <option *ngFor="let option of listRoles" [ngValue]="option">{{option.name}}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="dropdown-divider"></div>

  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-success" style="float: right; cursor: pointer;" (click)="guardar()">
        Guardar
      </button>
    </div>
  </div>


</div>
