<div *ngIf="totals && budgets">
  <div class="title-section">
    <div class="budget_title"></div>
    <div class="titlechapterAp">Presupuesto</div>
  </div>

      <div class="contents-app">

        <!--TAREAS-->
        <div class="generalrow">
          <!-- BUDGET RESUME -->
          <div class="budgetresume-container">
            <div class="totalsources">Total Recursos $ {{ totals.inversion_total | number:'1.2-5' }}</div>
            <div class="sourcesdiscrim">
              <div class="sourcesclass col-lg-6 col-md-6 col-sm-12">
                <div class="title-sources">Recursos disponibles</div>
                <div class="number-sources">$ {{ totals.inversion_disponible | number:'1.2-5' }}</div>
              </div>
              <div class="sourcesclass col-lg-6 col-md-6 col-sm-12 lineleft">
                <div class="title-sources">Recursos comprometidos</div>
                <div class="number-sources">$ {{ totals.committed | number:'1.2-5' }}</div>
              </div>
            </div>
          </div>

          <!-- PENDANT APPROVAL -->

          <div class="module-box-container">
            <div class="header-module">
              <h3 class="title-module">Pendientes aprobados</h3>
            </div>
            <div class="maintablecontainer">
              <table class="table">
                <thead class="items-table">
                <tr>
                  <th scope="col">Predio</th>
                  <th scope="col">Procedimiento</th>
                  <th scope="col">Monto</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let budget of budgets">
                  <th scope="row">{{budget.tarea.title }}</th>
                  <td>{{budget.procedimiento.name}}</td>
                  <td>$ {{budget.presupuesto | number : '1.2-2'}}</td>
                  <td><a class="linebtn linebluelight right" (click)="gotoDetail(budget.procedimiento.id, budget.tarea.id )">Ver</a></td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>


</div>
