<div class="generalrow">

  <div class="title-section">
    <div class="procedures_title"></div>
    <div class="titlechapterAp">Cuadro de Comando y Control</div>
    <a class="mainbtn plainbluedark createbtn right margintop marginbuttom" routerLink="/app/create-aporte" *ngIf="isDireccion" >Crear nuevo Aporte</a>
    <a class="mainbtn plaingreenlight right margintop" (click)="getExcel()" *ngIf="isDireccion || isFinanciero" >Descargar archivo Excel</a>

  </div>

  <div class="generalrow ">
    <!--FILTROS-->

    <div class="generalrow">
      <div class="subtitle-item">Filtrar Aportes</div>
    </div>

    <div class="generalrow">
      <div class="generalrow" style="margin-bottom: 10px">
        <div class="col-sm plain-arrow">
          <label for="labelselect01">Selecciona el año</label>
          <select [(ngModel)]="yearFilter"
                  class="custom-select form-control gradblue"
                  name="programs"
                  id="selectYear">
            <option [value]="0">Selecciona el año</option>
            <option *ngFor="let option of arrYear"
                    [ngValue]="option.value">{{option.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="generalrow filter-container">

      <div class="col-12 col-md-5 col-lg-5 col-xl-5 plain-arrow float-left">
        <label class="subtitle-item" for="labelselect2">Selecciona un Filtro</label>
        <select [(ngModel)]="filter" class="custom-select form-control gradblue" name="projects" id="labelselect2" (change)="changeFilter()" >
          <option [value]="0" id="labelselect21">Seleccione el filtro</option>
          <option [value]="1" id="labelselect22">Por Asociado</option>
          <option [value]="2" id="labelselect23">Por actividad</option>
        </select>
      </div>

      <div class="col-12 col-md-5 col-lg-5 col-xl-5 plain-arrow float-left" *ngIf="filter === '1'">
        <label class="subtitle-item" for="labelselect01">Selecciona un Asociado</label>
        <select [(ngModel)]="asociadoModel" class="custom-select form-control gradblue" name="programs" id="labelselect01">
          <option [value]="0">Seleccione un Asociado</option>
          <option *ngFor="let option of asociado" [ngValue]="option.id">{{option.name}}</option>
        </select>
      </div>

      <div class="col-12 col-md-2 col-lg-2 col-xl-1 float-right">
        <div class="mainbtn plainbluedark right margintop" (click)="getFilterAportes()"> Filtrar </div>
      </div>

    </div>

    <div class="generalrow" style="padding: 20px; background-color: white; border-radius: 15px; margin: 15px" *ngIf="filter === '2'">

      <div class="col">

        <div class="generalrow">
          <div class="col-sm" style="font-weight: bold; font-size: 20px; padding: 10px">Filtrar por Actividad</div>
        </div>

        <div class="generalrow">

          <div class="col-sm plain-arrow">
            <label class="subtitle-item" for="labelselect1">Selecciona un Programa</label>
            <select [(ngModel)]="procedure.program" class="custom-select form-control gradblue" name="programs"
                    (change)="getProgramProjects(procedure.program)" id="labelselect1">
              <option *ngFor="let option of programs" [ngValue]="option">{{option.name}}</option>
            </select>
          </div>
          <div class="col-sm plain-arrow">
            <label class="subtitle-item" for="labelselect200" *ngIf="projects">Selecciona un Proyecto</label>
            <select [(ngModel)]="procedure.project" class="custom-select form-control gradblue" name="projects"
                    (change)="getProjectActivities(procedure.project)" *ngIf="projects">
              <option *ngFor="let option of projects" [ngValue]="option" id="labelselect200">{{option.name}}</option>
            </select>
          </div>

        </div>


        <div class="generalrow" style="padding-left: 30px; padding-right: 30px; padding-top: 30px">

          <div *ngIf="activities" style="font-size: 14px; font-weight: bold"> Actividades</div>

          <div class="actividades-container line-inputs" *ngIf="activities">

            <div class="boxes">
              <ul>
                <li *ngFor="let option of activities">
                  <label class="container"><label for="{{option.id}}">{{option.name}}</label>
                    <input type="radio" id="{{option.id}}" value="{{option}}" name="activity"
                           (click)="setObjectActive(option)">
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>

          </div>

        </div>

      </div>

    </div>


    <!--APORTES-->

    <div class="dropdown-divider"></div>

    <div class="generalrow" *ngIf="aportes.length>0">
      <div class="subtitle-item" >Listado de Aportes</div>
    </div>

    <div class="maintablecontainer">



      <table class="table table-hover" *ngIf="aportes.length>0">
        <thead style="background-color: #0073D1; color: white">
        <tr>
          <th style="width: 2%">#</th>
          <th style="width: 25%; border-right: solid 1px white">Actividad</th>
          <th style="border-right: solid 1px white">Asociado</th>
          <th style="border-right: solid 1px white">Tipo</th>
          <th style="border-right: solid 1px white">Año</th>
          <th style="border-right: solid 1px white">Aporte</th>
          <th style="border-right: solid 1px white">Comprometido</th>
          <th style="border-right: solid 1px white">Pagado</th>

          <th style="border-right: solid 1px white">% Comprometido</th>
          <th style="border-right: solid 1px white">% Pagado</th>
          <th style="border-right: solid 1px white">A Comprometer</th>

          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let aporte of aportes">
          <th scope="row">{{aporte.id}}</th>
          <td style="border-right: solid 1px #d6d6d6">{{aporte.activity}}</td>
          <td style="border-right: solid 1px #d6d6d6">{{aporte.associated}}</td>

          <td style="font-weight: bold; border-right: solid 1px #d6d6d6; text-align: center" *ngIf="aporte.type + '' === '1'"> <a style="cursor:default; padding: 5px 10px; background-color: #585858; color: white; font-weight: bold; border-radius: 10px; font-size: 10px">Dinero</a></td>
          <td style="font-weight: bold; border-right: solid 1px #d6d6d6; text-align: center" *ngIf="aporte.type + '' === '2'"> <a style="cursor:default; padding: 5px 10px; background-color: #585858; color: white; font-weight: bold; border-radius: 10px; font-size: 10px">Especies</a> </td>
          <td style="font-weight: bold; border-right: solid 1px #d6d6d6; text-align: center" *ngIf="aporte.type + '' != '1' && aporte.type != '2'"> <a style="cursor:default; padding: 5px 10px; background-color: #585858; color: white; font-weight: bold; border-radius: 10px; font-size: 10px">Mixto</a> </td>

          <td style="border-right: solid 1px #d6d6d6"> {{ aporte.year }}</td>
          <td style="border-right: solid 1px #d6d6d6">$ {{ aporte.type + '' === '1' ? (aporte.budget | number:'3.2-5') : (aporte.budget_species | number:'3.2-5') }}</td>

          <td style="border-right: solid 1px #d6d6d6">$ {{(aporte.committed_budget === '' || aporte.committed_budget === null) ? '0.0' : aporte.committed_budget  }}</td>
          <td style="border-right: solid 1px #d6d6d6">$ {{(aporte.paid_budget === '' || aporte.paid_budget === null) ? '0.0' : aporte.paid_budget | number:'3.2-5' }}</td>

          <td style="font-weight: bold; border-right: solid 1px #d6d6d6">{{getPercent(aporte.budget, aporte.committed_budget)}}</td>
          <td style="border-right: solid 1px #d6d6d6">{{getPercent(aporte.budget, aporte.paid_budget)}}</td>

          <td style="border-right: solid 1px #d6d6d6">$ {{aporte.type + '' === '1' ? (getSustract(aporte.budget, aporte.committed_budget, aporte.paid_budget) | number:'3.2-5') : (getSustract(aporte.budget_species, aporte.committed_budget, aporte.paid_budget) | number:'3.2-5')}}</td>

          <td>
            <div class="generalrow" style="height: 100%">
              <div class="col">
                <div class="linebtn linebluelight right margintop marginbuttom" (click)="routerLink(aporte.id)">Ver</div>
              </div>
            </div>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div *ngIf="aportes.length === 0">
    <div class="dropdown-divider"></div>
    No se han cargado aportes
  </div>

</div>
