<div class="title-section">
  <div class="col-1 float-left">
    <div style="display: table; height: 100px; overflow: hidden; width: 100%">
      <div style="display: table-cell; vertical-align: middle">
        <div style="text-align: center" class="listCategory_title">

        </div>
      </div>
    </div>
  </div>
  <div class="col-5 float-left">

    <div style="display: table; height: 100px; overflow: hidden; width: 100%">
      <div style="display: table-cell; vertical-align: middle">
        <div class="titlechapterAp">Listado de Categorías</div>
      </div>
    </div>

  </div>
  <a class="mainbtn darkblue create-new-procedure" routerLink="/app/register-category" *ngIf="isSuperAdmin">Crear Categoría</a>

</div>

<!--CREATE-->

<div class="generalrow">
  <div class="title-taskmodule gradblue">Listado de Categorías Registradas</div>

  <div class="maintablecontainer">
    <table class="table tabletask table-hover">
      <thead class="items-table">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of listCategories">
        <th scope="row">{{category.name}}</th>
        <td>{{getDateWithoutHour(category.created_at)}}</td>
        <td>
          <a class="mainbtn bluebtn seemore-module" routerLink="/app/view-Edit-category/{{category.id}}">Ver</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
