<div class="container wrap" style="margin-top: 25px;">

  <div class="row">
    <div class="col-12">
      <button (click)="printDiv()" class="print_btn"><i class="fas fa-print" style="margin-right: 5px"></i> Imprimir Certificado</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm" style="text-align: left; font-size: 16px; font-weight: bold">
      <div>Visualización de Certificado</div>
    </div>
  </div>

  <div id="a-imprimir"> <!--/// Imprimir-->

    <!-- 1 HOJA -->
    <div class="imprimir">

      <div class="row noMostrar">
        <div class="col-sm" style="text-align: center">
          <img src="../../../../src/assets/images/logo_doc.JPG" height="auto" width="250px">
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="title-header">
            CERTIFICADO DE MANTENIMIENTO DE MATERIAL
          </div>
        </div>
        <div class="col-4" style="text-align: center">
          <div class="title-header">
            NO:
          </div>
        </div>
      </div>


      <!--//////// INF GENERAL-->
      <div class="row">
        <div class="col-12 title_form bordertable">
          INFORMACIÓN GENERAL
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          PROPIETARIO
        </div>
        <div class="col-8 title_form_label bordertable">
          NOMBRE
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          PREDIO
        </div>
        <div class="col-4 title_form_label bordertable">
          PREDIO
        </div>
        <div class="col-2 title_form bordertable">
          MUNICIPIO
        </div>
        <div class="col-4 title_form_label bordertable">
          MUNICIPIO
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-2 title_form bordertable">
          VEREDA / CORREGIMIENTO
        </div>
        <div class="col-4 title_form_label bordertable">
          VEREDA / CORREGIMIENTO
        </div>
        <div class="col-2 title_form bordertable">
          CONTRATO DE EJECUCIÓN
        </div>
        <div class="col-4 title_form_label bordertable">
          CONTRATO DE EJECUCIÓN
        </div>
      </div>
      <!--Divisor-->
      <div class="row">
        <div class="col-4 title_form bordertable">
          CONTRATISTA
        </div>
        <div class="col-8 title_form_label bordertable">
          NOMBRE
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="text-align: center">
        <div class="col-12 title_form bordertable">
          ACCIONES EJECUTADAS
        </div>
      </div>
      <!--Divisor-->
      <div class="row" style="text-align: center">
        <div class="col-6 title_form_label bordertable">
          1. Plateo y fertilización al _____ % del material vegetal
        </div>
        <div class="col-6 title_form_label bordertable">
          2. Resiembra del _______ %
        </div>
      </div>


      <div class="row" style="margin-bottom: 10px">
        <div class="col-4 title_form bordertable">
          FECHA DE INICIO DE EJECUCIÓN
        </div>
        <div class="col-2 title_form_label bordertable">
          28/12/2018
        </div>
        <div class="col-4 title_form bordertable">
          FECHA DE TERMINACIÓN DE EJECUCIÓN
        </div>
        <div class="col-2 title_form_label bordertable">
          05/02/2018
        </div>
      </div>

      <!--Divisor-->
      <div class="row" style="margin-bottom: 10px">
        <div class="col-12 title_form_label">
          Para constancia de lo anterior, firman el presente certificado los que en el intervinieron, a los ____ días del mes de __________ de 20XX
        </div>
      </div>

      <!--Divisor-->
      <div class="row" style="margin-bottom: 10px">
        <div class="col-6 title_form_label" style="text-align: center">
          <br>
          <br>
          <br>
          <br>
          <div class="dropdown-divider"></div>
          <br>
          SUPERVISOR CUENCA VERDE
        </div>
        <div class="col-6 title_form_label" style="text-align: center">
          <br>
          <br>
          <br>
          <br>
          <div class="dropdown-divider"></div>
          <br>
          EL PROPIETARIO
        </div>
      </div>


    </div>
    <!-- 2 HOJA -->




    <!-- /////// Imprimir-->
  </div>


</div>
