<div class="outer">

  <div class="middle">

    <div class="container inner">

      <div class="row">
        <div class="col-sm" style="text-align: center">
          <div><img class="logo-cuenca"></div>
        </div>
      </div>

      <form class="form-signin">
        <div *ngIf="err != null" class="alert alert-danger mt-2">
          {{ err }}
        </div>
    
        <div *ngIf="msg != null" class="alert alert-success mt-2">
          {{ msg?.message }}
        </div>
        <h2 class="form-signin-heading">Forgot Password?</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input [(ngModel)]="email" type="email" id="inputEmail" class="form-control form-login user" placeholder="Email" name="username" required autofocus>
        
        <button class="btn btn-lg btn-primary btn-block btnlogin" style="cursor: pointer" type="submit" (click)="resetClick()">Send Email</button>
      </form>

      <a class="logo-footer-login"> </a>
    </div> <!-- /container -->

  </div>

</div>
