.actividades-container{
  width: 100%;
}
/*////CHECK BOX STYLE*/
.boxes > ul {
  width: 100%;
  list-style: none;
}
.boxes > ul > li {
  border: dotted 1px #aaa;
  padding:7px;
  margin: 5px;
  background-color: #FFFFFF;
}
select:focus{
  color: #FFFFFF;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-weight: bold;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.plain-arrowd:after{
  position:absolute;
  z-index:2;
  content:"";
  height:0;
  width:0;
  right:35px;
  top:52px;
  margin-top:-3px;
  border-top:6px solid #FFFFFF;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  pointer-events:none;
  float: right;
}
