#a-imprimir{
  padding: 50px;
}
.title-header {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px 0px;
}

.parag{
  text-align: justify;
  text-justify: inter-word;
}
table{
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
th{
  text-align: center;
  font-weight: bold;
  border: solid 2px black;
}
td{
  text-align: left;
  border: solid 1px black;
}
.center{
  text-align: center;
}
.noborder td{
  border: solid 1px white;
}
.print_btn{
  float: right;
  padding: 10px 15px;
  background-color: #0B5CC6;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  border: solid 1px #4d565e;
}

.print_btn:hover{
  background-color: #4188c6;
}

.noMostrar{
  display: none;
}

.vertical-align {
  display: flex;
  align-items: center;
  horiz-align: center;
  text-align: center;
  margin-bottom: 15px;
}

.title_form{
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
}

.title_form_label{
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
  color: #585858;
}

.bordertable {
  border: solid 1px #000;
}
.table-inner{
  margin: 0px 0px;
}
.rightalign{
  text-align: right;
  font-size: 10px;
}
