<div class="title-section">
  <div class="col-1 float-left">
    <div style="display: table; height: 100px; overflow: hidden; width: 100%">
      <div style="display: table-cell; vertical-align: middle">
        <div style="text-align: center" class="listUser_title">

        </div>
      </div>
    </div>
  </div>
  <div class="col-5 float-left">

    <div style="display: table; height: 100px; overflow: hidden; width: 100%">
      <div style="display: table-cell; vertical-align: middle">
        <div class="titlechapterAp">Listado de Proyectos</div>
      </div>
    </div>

  </div>
  <div>
    <a class="mainbtn darkblue create-new-procedure" routerLink="/app/register-project" *ngIf="isSuperAdmin">Crear proyecto</a>
  </div>

</div>

<!--CREATE-->

<div class="generalrow">
  <div class="title-taskmodule gradblue">Listado de Proyectos Registrados</div>

  <div class="maintablecontainer">
    <table class="table tabletask table-hover">
      <thead class="items-table">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Programa</th>
        <th scope="col">Fecha</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of listProjects">
        <th scope="row">{{project.name}}</th>
        <th scope="row">{{project['program_by_project'][0].name}}</th>
        <td>{{project.created_at}}</td>
        <td>
          <a class="mainbtn bluebtn seemore-module" routerLink="/app/register-activities/{{project.id}}">Actividades</a>
          <!--<a class="mainbtn bluebtn seemore-module edit-list-item-button" routerLink="/app/edit-tasks/" *ngIf="isCoordinador">Editar</a>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
