body, div, table, thead, tbody, tfoot, tr, th, td, p {
  font-family: "Calibri";
  font-size: x-small
}

a.comment-indicator:hover + comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}

a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}

comment {
  display: none;
}

.form-container {
  margin-top: 30px;
}
