<div>

  <div class="title-section">
    <div class="col-1 float-left">
      <div style="display: table; height: 100px; overflow: hidden; width: 100%">
        <div style="display: table-cell; vertical-align: middle">
          <div style="text-align: center" class="task_title">
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 float-left">

      <div style="display: table; height: 100px; overflow: hidden; width: 100%">
        <div style="display: table-cell; vertical-align: middle">
          <div class="titlechapterAp">Detalle de Gastos</div>
        </div>
      </div>

    </div>
    <a class="mainbtn darkblue create-new-procedure"
       data-toggle="modal"
       data-target="#modalCreateAndEdit"
       (click)="setVarCreate()">Crear nuevo gasto</a>
  </div>

  <div class="contents-app">

    <div class="taskprojcontainer">
      <div class="title-taskmodule gradblue">Listado de Detalles de gastos Registrados</div>
      <table class="table tabletask table-hover">
        <thead class="items-table">
        <tr>
          <th scope="col">Centro de costos</th>
          <th scope="col">Gasto</th>
          <th scope="col">Presupuesto</th>
          <th scope="col">Presupuesto inicial</th>
          <th scope="col">Pagado</th>
          <th scope="col">Fecha creación</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <ng-container *ngFor="let expense of arrFinancingExpense">
          <tr data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <th scope="col">{{expense.codeCenter}}</th>
            <th scope="col">{{expense.name}}</th>
            <th scope="col">${{expense.value}}</th>
            <th scope="col">${{expense.valueOrigin}}</th>
            <th scope="col">${{expense.payed | number}}</th>
            <th scope="col">{{expense.created_at}}</th>
            <th scope="col">

              <button type="button"
                      class="btn btn-info"
                      style="cursor:pointer;"
                      data-toggle="modal"
                      data-target="#modalCreateAndEdit"
                      aria-expanded="false"
                      (click)="setEditFinancingExpense(expense)"
                      aria-controls="modalCreateAndEdit">
                <i class="fas fa-info-circle" style="color: white"></i>
              </button>

            </th>
          </tr>
        </ng-container>
        <tr *ngIf="strTotalExpense"
            data-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample">
          <th scope="col"></th>
          <th scope="col">Gastos Totales</th>
          <th scope="col">${{strTotalExpense | number}}</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>

<!--modal income-->
<div>
  <div class="modal fade" tabindex="-1" role="dialog" id="modalCreateAndEdit" aria-labelledby="modalDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <app-create-financing-expenses [objModelFinancingExpenses]="objModelExpense"
                                     (getAllExpenses)="getAllExpenses()"
                                     [boolCreate]="boolCreate"></app-create-financing-expenses>
    </div>
  </div>
</div>
