<div class="card">
  <div class="card-header text-center">
    Eventos
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col">
        <label for="idDateInitFilter">Fecha inicial</label>
        <input type="date"
               class="form-control simpleinput"
               id="idDateInitFilter"
               aria-describedby="idCardNumber"
               placeholder="Fecha inicio"
               name="idCardNumber">
      </div>
      <div class="col">
        <label for="idDateInitFilter">Fecha final</label>
        <input type="date"
               class="form-control simpleinput"
               id="idDateEndFilter"
               aria-describedby="idCardNumber"
               placeholder="Fecha fin"
               name="idCardNumber">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a class="btn descarga btn-primary"
           href="https://ayudaexcel.com/plantillas-calendario-en-excel-2019/?aid=13412&sa=1"
           rel="nofollow"
           dir="rtl"
           target="_blank">Descargar</a>
      </div>
    </div>

  </div>
</div>
